<!-- Footer-->
<div class="container-fluid p-0">
  <div class="col footer">
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="row justify-content-center">
          <div class="col-4">
            <div class="wrap">
              <a href="/about" class="logo"><i class="fas fa-utensils details-icon"></i></a>
            </div>
          </div>
          <div class="col-6">
            <h1 class="main-name">Georgia</h1>
            <p class="sub-name">Restaurant</p>
          </div>
        </div>
      </div>
      <div class="col-10 social-wrap text-center">
        <a href="#" class="social-media-link"><i class="fab fa-facebook-square"></i></a>
        <a href="#" class="social-media-link"><i class="fab fa-instagram"></i></a>
        <a href="#" class="social-media-link"><i class="fab fa-google-plus-square"></i></a>
        <a href="#" class="social-media-link"><i class="fab fa-youtube"></i></a>
      </div>

      <div class="col-10 text-center">
        <p class="copyright-paragraph">
          &copy; Copyright. Restaurant "Georgia". All Rights Reserved
        </p>
      </div>

    </div>

  </div>
</div>



    <!--End of Footer -->
    <!-- =============================================================================================================== -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script src="https://code.jquery.com/jquery-3.4.1.js"
     integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

   <!-- Popper.js -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

   <!-- Bootstrap JS -->
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
     integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
