<%- include("partials/header"); -%>

<!-- Intro About Us -->
<div class="container-fluid">
  <div class="col intro">
    <!-- Logo - lines - Home Link -->
    <div class="row justify-content-center ">
      <div class="col-4 col-sm-3 line-wrap">
          <div class="row justify-align-start">
              <div class="col line"></div>
          </div>
      </div>

      <div class="col-3 col-sm-2">
        <div class="wrap-res">
          <a href="/about" class="logo-res"><i class="fas fa-utensils details-icon"></i></a>
        </div>
      </div>

      <div class="col-4 col-sm-3 line-wrap">
          <div class="row justify-align-start">
              <div class="col line"></div>
          </div>
      </div>
    </div>

    <div class="row justify-content-center mt-3">
      <div class="col-md-6 col-sm-12 order-md-1 order-sm-2">
        <img src="../images/about-us-img.png" class="img-fluid" alt="About Us Img">
      </div>
      <div class="col order-sm-1">
        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-10 text-center">
              <h1 class="about-heading">About Us</h1>
          </div>
          <div class="col-sm-12 col-md-10 text-center">
              <h3 class="about-intro">Introduce To Georgian Dishes</h3>
          </div>
          <div class="col-6 text-center">
            <i class="fas fa-star-of-life star"></i>
            <i class="fas fa-star-of-life mx-3 star"></i>
            <i class="fas fa-star-of-life star"></i>
          </div>
          <div class="col-sm-12 col-md-10">
            <p class="description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
               minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
               consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
               eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div class="col-6 text-center">
            <i class="fas fa-star-of-life star"></i>
            <i class="fas fa-star-of-life mx-3 star"></i>
            <i class="fas fa-star-of-life star"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
