<%- include("partials/header"); -%>
<div class="container-fluid p-0">
  <div class="col p-0 services">
<!-- Logo - lines - Home Link -->
<div class="row justify-content-center ">
  <div class="col-4 col-sm-3 line-wrap">
      <div class="row justify-align-start">
          <div class="col line"></div>
      </div>
  </div>

  <div class="col-3 col-sm-2">
    <div class="wrap-res">
      <a href="/about" class="logo-res"><i class="fas fa-utensils details-icon"></i></a>
    </div>
  </div>

  <div class="col-4 col-sm-3 line-wrap">
      <div class="row justify-align-start">
          <div class="col line"></div>
      </div>
  </div>
</div>

<!--Gallery-->
<div class="col">
  <div class="row justify-content-center">
    <div class="col-10 text-center ">
      <p class="touch-photo">Touch the photo</p>
    </div>
  </div>
</div>
<section class="gallery-a">
  <div class="cards-a-wrapper">

    <div class="card-a">
      <div class="card-a-overlay">
        <h1 class="card-a-overlay-heading">Food Name</h1>
        <p class="card-a-overlay-paragraph">Price: $30.00</p>
        <button type="button" class="card-a-overlay-btn">Order Now</button>
      </div>
      <img src="../images/gallery-img-1.jpeg" class="card-a-img" />
    </div>

    <div class="card-a">
      <div class="card-a-overlay">
        <h1 class="card-a-overlay-heading">Food Name</h1>
        <p class="card-a-overlay-paragraph">Price: $30.00</p>
        <button type="button" class="card-a-overlay-btn">Order Now</button>
      </div>
      <img src="../images/gallery-img-2.jpeg" class="card-a-img">
    </div>

    <div class="card-a">
      <div class="card-a-overlay">
        <h1 class="card-a-overlay-heading">Food Name</h1>
        <p class="card-a-overlay-paragraph">Price: $30.00</p>
        <button type="button" class="card-a-overlay-btn">Order Now</button>
      </div>
      <img src="../images/gallery-img-3.jpeg" class="card-a-img" />
    </div>

    <div class="card-a">
      <div class="card-a-overlay">
        <h1 class="card-a-overlay-heading">Food Name</h1>
        <p class="card-a-overlay-paragraph">Price: $30.00</p>
        <button type="button" class="card-a-overlay-btn">Order Now</button>
      </div>
      <img src="../images/gallery-img-4.jpeg" class="card-a-img" />
    </div>

    <div class="card-a">
      <div class="card-a-overlay">
        <h1 class="card-a-overlay-heading">Food Name</h1>
        <p class="card-a-overlay-paragraph">Price: $30.00</p>
        <button type="button" class="card-a-overlay-btn">Order Now</button>
      </div>
      <img src="../images/gallery-img-5.jpeg" class="card-a-img" />
    </div>

    <div class="card-a">
      <div class="card-a-overlay">
        <h1 class="card-a-overlay-heading">Food Name</h1>
        <p class="card-a-overlay-paragraph">Price: $30.00</p>
        <button type="button" class="card-a-overlay-btn">Order Now</button>
      </div>
      <img src="../images/gallery-img-6.jpeg" class="card-a-img" />
    </div>

    <div class="card-a">
      <div class="card-a-overlay">
        <h1 class="card-a-overlay-heading">Food Name</h1>
        <p class="card-a-overlay-paragraph">Price: $30.00</p>
        <button type="button" class="card-a-overlay-btn">Order Now</button>
      </div>
      <img src="../images/gallery-img-1.jpeg" class="card-a-img" />
    </div>

    <div class="card-a">
      <div class="card-a-overlay">
        <h1 class="card-a-overlay-heading">Food Name</h1>
        <p class="card-a-overlay-paragraph">Price: $30.00</p>
        <button type="button" class="card-a-overlay-btn">Order Now</button>
      </div>
      <img src="../images/gallery-img-2.jpeg" class="card-a-img">
    </div>

    <div class="card-a">
      <div class="card-a-overlay">
        <h1 class="card-a-overlay-heading">Food Name</h1>
        <p class="card-a-overlay-paragraph">Price: $30.00</p>
        <button type="button" class="card-a-overlay-btn">Order Now</button>
      </div>
      <img src="../images/gallery-img-3.jpeg" class="card-a-img" />
    </div>

  </div>
</section>

</div>
</div>
    <!--End of Gallery-->
<%- include("partials/footer"); -%>
