<%- include("partials/header"); -%>
<div class="container-fluid">
  <div class="col p-0 services">
    <!-- Logo - lines - Home Link -->
    <div class="row justify-content-center ">
      <div class="col-4 col-sm-3 line-wrap">
          <div class="row justify-align-start">
              <div class="col line"></div>
          </div>
      </div>

      <div class="col-3 col-sm-2">
        <div class="wrap-res">
          <a href="/about" class="logo-res"><i class="fas fa-utensils details-icon"></i></a>
        </div>
      </div>

      <div class="col-4 col-sm-3 line-wrap">
          <div class="row justify-align-start">
              <div class="col line"></div>
          </div>
      </div>
    </div>

    <!-- Services -->
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10">
        <div class="row justify-content-center">
          <div class="col-10 col-sm-10 text-center heding">
            Everything that one restaurant can offer is here!
              Check out our top services at restaurant <span>"GEORGIA"</span>...
          </div>

          <div class="col-10 col-sm-10 mar-top">
            <div class="row justify-content-center">
              <!-- Catering -->
                <div class="col-3 col-sm-3 text-center bor h">
                  <h2>Catering</h2>
                  <div class="w-services">
                    <i class="fas fa-pizza-slice s-icon"></i>
                  </div>
                </div>
              <!-- Family Events -->
              <div class="col-3 col-sm-3 text-center bor c h">
                <h2>Event's</h2>
                <div class="w-services">
                  <i class="fas fa-users s-icon"></i>
                </div>
              </div>
              <!-- Theme Parties -->
              <div class="col-3 col-sm-3 text-center bor c">
                <h2>Parties</h2>
                <div class="w-services">
                  <i class="fas fa-glass-martini-alt s-icon"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="col-10 col-sm-10 mar-top mar-bottom">
            <div class="row justify-content-center">
              <!-- Catering -->
                <div class="col-3 col-sm-3 text-center bor h">
                  <h2>Delivery</h2>
                  <div class="w-services">
                    <i class="fas fa-shipping-fast s-icon"></i>
                  </div>
                </div>
              <!-- Family Events -->
              <div class="col-3 col-sm-3 text-center bor c">
                <h2>Shows</h2>
                <div class="w-services">
                  <i class="far fa-star s-icon"></i>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>
</div>
<%- include("partials/footer"); -%>
