/*--- COLOR VARIABLES ---*/
$color-dark: rgb(38, 38, 38);
$color-black: rgb(0, 0, 0);
$color-primary: rgb(211, 171, 85);
$color-secondary:rgb(187, 187, 187);
$color-white: rgb(255, 255, 255);

/*--- FONT FAMILY VARIABLES ---*/
$font-dancingScript: 'Dancing Script', cursive;
$font-josefinSans: 'Josefin Sans', sans-serif;
$font-nunito: 'Nunito', sans-serif;
